.horizontal-slider {
  width: 100%;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.example-track.example-track-0 {
  background: #1c4c96;
}

.example-track.example-track-1 {
  background: #e5e7eb;
}

.example-track.example-track-2 {
  background: #e5e7eb;
}

.horizontal-slider .example-thumb {
  top: 15px;
  width: 10px;
  height: 20px;
  line-height: 0px;
  border-radius: 100px;
  font-size: 0.9em;
  box-shadow: 0 0 1px 1px #ced4da;
  background-color: white;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

label[for="checkbox"] {
  font-weight: bold;
}
