@tailwind base;
@tailwind components;
@tailwind utilities;

.color-switch {
  @apply w-6 h-6 rounded-sm duration-300 hover:ring-2 border-2 focus:border-black focus:scale-105;
}

.size-btn {
  @apply py-0 px-3 bg-indigo-600 focus:transition-all duration-500 rounded-md
    text-white font-bold focus:font-bold border-2 focus:border-black focus:scale-105;
}
numbtninput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.product-input {
  @apply border-b-2 border-site-primary focus:outline-none text-site-primary font-medium;
}
.m-btn + .m-btn{
  margin-left: 10px;
}
