@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

numbtninput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product input[type="number"] {
  -moz-appearance: textfield;
}

.color-switch {
  @apply w-6 h-6 rounded-sm duration-300 hover:ring-2 border-2 focus:border-black focus:scale-105;
}

.btn-selected input[type="radio"]:checked {
  @apply border-2 border-white antialiased scale-105;
}

.size-btn {
  @apply py-0 px-3 focus:transition-all duration-500 rounded-md
    text-indigo-600 font-bold focus:font-bold border-2 border-indigo-600;
}

.sizebtn-selected input[type="radio"] {
  display: none;
}

.sizebtn-selected input[type="radio"]:checked + span {
  @apply bg-indigo-600 text-white;
}

.product-input {
  @apply border-b-2 border-site-primary focus:outline-none text-indigo-600 font-medium;
}

.attribute-filter {
  @apply border-2 border-gray-300 rounded-full w-6 h-6 focus:scale-125 transition-transform duration-150 mx-1 shadow-md;
}
.m-btn + .m-btn {
  margin-left: 10px;
}

.grid-container {
  grid-template-columns: 70px 170px;
}

.file-btn {
  display: inline-block;
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.drop-container input[type="file"]::file-selector-button {
  margin-right: 20px;
  display: none;
  border: none;
  background: #6366f1;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.address-table th,
td {
  text-align: left;
  padding-left: 50px;
  padding-top: 5px;
}

.error-msg {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.featured-lists li::before {
  color: #4338ca;
  content: "◈";
  margin-right: 5px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
}

.checkboxColor {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 25px;
}

.checkboxColor input {
  visibility: hidden;
  cursor: pointer;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;
}

.checkboxColor input:checked ~ .mark {
  @apply scale-125 border-2 border-gray-200;
}

.mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxColor .mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.category-list {
  list-style-type: none;
  padding: 0;
}

.category-item {
  margin-bottom: 10px;
}

.subcategory-dropdown {
  list-style-type: none;
  left: 10%;
  display: none;
}

.category:hover .subcategory-dropdown {
  display: block;
}

.pagination-container {
  display: flex;
  margin-top: 1rem;
  margin: 0 20px;
}

.page-item {
  padding: 0px 10px;
  color: #1c4c96;
}

.page-item + .page-item {
  padding-left: 30px;
}
.page-item:hover {
  background-color: rgb(228 228 231);
}

.item-active {
  color: white;
  background-color: #1c4c96;
}
