@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

numbtninput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product input[type="number"] {
  -moz-appearance: textfield;
}

.color-switch {
  @apply w-6 h-6 rounded-sm duration-300 hover:ring-2 border-2 focus:border-black focus:scale-105;
}

.btn-selected input[type="radio"]:checked {
  @apply border-black scale-105;
}

.size-btn {
  @apply py-0 px-3 focus:transition-all duration-500 rounded-md
    text-indigo-600 font-bold focus:font-bold border-2 border-indigo-600;
}

.sizebtn-selected input[type="radio"] {
  display: none;
}

.sizebtn-selected input[type="radio"]:checked + span {
  @apply bg-indigo-600 text-white;
}

.product-input {
  @apply border-b-2 border-site-primary focus:outline-none text-indigo-600 font-medium;
}
.m-btn + .m-btn {
  margin-left: 10px;
}

.grid-container {
  grid-template-columns: 70px 170px;
}

.file-btn {
  display: inline-block;
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.drop-container input[type="file"]::file-selector-button {
  margin-right: 20px;
  display: none;
  border: none;
  background: #6366f1;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.address-table th,
td {
  text-align: left;
  padding-left: 50px;
  padding-top: 5px;
}

.error-msg {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.featured-lists li::before {
  color: #4338ca;
  content: "◈";
  margin-right: 5px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
}
